body {
    background-color: aqua;
}
tropical.p
    {
        color: #f7325e;
    }
.tropical 
    {
        color: #7dc410;
    }
.popular
    {
        color: #591cbb;
    }
h1
    {text-align: center;}
img 
    {
        width: 20%;
        height: 20%;
    }