body {
    background-color: aqua;
}
h2.tropical
    {
        color: #f7325e;
    }
p.tropical 
    {
        color: #7dc410;
    }
.popular
    {
        color: #591cbb;
    }
h1
    {text-align: center;
    color: #b1b937;}
img 
    {  
        width: 30%;
        height: 20%;
    }
